Jupyter Notebook for Data Science

# Peer graded assigment on jupyter notebook

I am **Lavanya Ashokkumar**.I am a full stack developer.

My curiosity has drawn me to data science, where I seek to unveil untold narratives concealed within the data, giving voice to the hidden stories that often go unnoticed.

**Data Science Languages**

This course has enlightened us about the languages in data science:
1. Python
2. R
3. SQL (Structured Query Language)
4. Julia
5. SAS (Statistical Analysis System)
6. MATLAB
7. Scala
8. Java
9. C++
10. Ruby

**Data Science Libraries**



1.   Numpy
2.   Panadas
1.   Seaborn
2.   Scikitlearn
1.   Matplotlib
2.   Pytorch
1.   caret
2.   ggplot
1.   Stringr
2.   drlyr

**Data Science Tools**

1.  Jupyter Notebook
2.  R Studio
1.  Visual Studio Code (VS Code)
2.  IBM Watson Studio

**Arithmetic example**

Lets try to solve some arthmetic examples with python and R.
Example: a=10,b=20 addition of a and b gives 30

In [4]:
a=10
b=20
c=a+b
print(c)

30

In [5]:
a<-10
b<-20
c<-(a+b)
print(c)

30

**Multiplication and Addition**

In [7]:
a=10
b=15
c=-100
result=a*b+c
print(result)

50

In [8]:
a<-10
b<-15
c<-(-100)
result=a*b+c
print(result)

50

**Hours to minutes**

In [9]:
hours = 2
minutes = hours * 60

print(f"{hours} hours is equal to {minutes} minutes.")

2 hours is equal to 120 minutes.

In [10]:
hours <- 2
minutes <- hours * 60

print(f"{hours} hours is equal to {minutes} minutes.")

2 hours is equal to 120 minutes.

Unordered List

In [11]:
unordered_list = ["item1", "item2", "item3", "item4"]

for item in unordered_list:
    print(item)

item1
item2
item3
item4